/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

* {
 	font-family: 'Open Sans', sans-serif;
 }

  h4 {
 	color: #000000;
 	font-size: 36px;
 	font-weight: bold;
 }

 h5 {
 	color: #393939;
 	font-size: 24px;
 	text-transform: uppercase;
 }

h6 {
	color: #393939;
	font-size: 18px;
}

 a {
 	color: white;
 }

 nav ul a {
 	color: black;
 }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#logo-container {
	color: #000	;
}

.section {
	padding-top: 1px;
}

 .button-collapse {
 	color: black;
 }

.btn-large {
	text-transform: uppercase;
	min-width: 320px;
	border-radius: 3px;
}

#gradient-button {
	background: linear-gradient(134.72deg, #3023AE 0%, #E9468A 100%);
	border: 1px solid #979797;
}

#size-button {
	color: #898989;
	background: transparent;
	border: 1px solid #979797;
}

#product {
	padding-top: 30px;
}

#all-products {
	padding-top: 30px;
}

.dropdown-content li a {
	color: #898989;
}